

title {
    background-color: purple;
    color: white;
    font-weight: bold;
}

header {
    width: 100%;
    height: 420px;
    justify-self: end;
}

#glavno-zaglavlje {
    width: 100%;
    display: flex;
}

#zaglavlje {
    background-color: #c3c1c5;
    width: 100%;
    height: 120px;
    display: flex;
    }

#zaglavljeSlika {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#navigacijskiPanel {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#slike-u-headeru {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#zaglavljeSlika img {
    height: 50%;
    width: 40%;
}

.button-28 {
  appearance: none;
  background-color: #f8f8f8;
  border: 1px solid #7a0687;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #6b0a83;
  box-sizing: border-box;
  color: rgb(45, 45, 45);
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 0.7vw;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #4f095a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* body */

body {
    background-color:#76747698;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tekst-naslova {
    font-size: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 6px solid #4f095a;
    box-sizing: border-box;*/
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(45deg, rgb(84, 8, 128), rgb(244, 48, 205));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sadrzaj {
    width: 100%;
    height: auto;
    display: flex;
}

#glavno {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}

.glavni-sadrzaj {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    /*box-shadow: 0px 0px 15px 1px #7a0687;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#76747600;
}

.glavni-sadrzaj img {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
}

.glavni-podsadrzaj {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 900px;
    box-shadow: 0px 0px 5px 0.1px rgba(0, 0, 0, 0.353);
    border-radius: 10px;
    background-color: rgb(224, 218, 218);
}

.glavni-podsadrzaj:hover{
    background-color: #edd7f0a1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #7a0687;
}

.glavni-podsadrzaj p {
    text-align: center;
}

#bocni-sadrzaj {
    width: 15%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #edd7f0a1;
    padding: 0px 20px 0px 20px;
    margin: 10px 20px 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #7a0687;
}

#bocni-sadrzaj button {
    margin-bottom: 20px;
}

p {
    text-align: center;
}

h2 {
    text-align: center; 
}

#postani-clan {
    width: 150px;
    height: 40px;
}

#statut-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: inherit;
}


/* footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #645f65b3;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}

footer div {
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* članovi */
th {
    width: 100px;
    height: 20px;
    text-align: center; 
    vertical-align: middle;
}

td {
    width: 100px;
    height: 20px;
    text-align: center; 
    vertical-align: middle;
}

#slika-monografije {
    width: 25%;
    height: 25%;
}

#plakat {
    width: 50%;
    height: 50%;
}

/* upitnik za nove clanove */

.upitnik-container {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #7a0687;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-self: center;
}

form input[type="text"], form input[type="tel"], form input[type="email"] {
    display: block;
    width: 100%;
}

form button[type="submit"] {
    height: 40px;
    width: 60px;
    font-size: 10px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: #7a0687;
    border-radius: 10px;
}

/* Galerija */

.galerija {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.naziv-slike {
    width: 100%;
    height: 1px;
    text-align: center;
}

.galerija-container {
    width: 30%;
    height: 500px;
    overflow: hidden;
    background-color: #c8c8c8e3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 10px 10px;
    box-sizing: border-box;
}

.galerija-container:hover {
    box-shadow: 0px 0px 15px 1px #4f095a;
}

.galerija-container div {
    height: 90%;
    width: 100%;
}

.listanje-galerije, .listanje-galerije * {
    box-sizing: border-box;
}

.listanje-galerije img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
.listanje-galerije {
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden
}
  
.slajdoviSlika {
    display: none;
}
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*TABLICA*/

table {
    width: 75%;
    border-collapse: collapse; 
    text-align: left;
    border: 1px solid black;
}

th {
    text-align: center;
    border: 1px solid black;
    padding: 18px;
}

td {
    text-align: center;
    border: 1px solid black;
}